<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Your Workspace [#{{index}}]</h1>
        <form method="post" action="update">
            <fieldset>
                <legend>Update Service Provider</legend>
                User:<br>
                <input type="text" name="username" placeholder="{{username}}" readonly>
                <input type="text" name="index" placeholder="{{index}}" readonly><br>
                Name:<br>
                <input type="text" name="name" placeholder="{{name}}" required>
                <input type="text" name="id" placeholder="{{id}}" readonly><br>
                Image URL:<br>
                <input type="text" name="imageUrl" placeholder="{{imageUrl}}" required><br>
                New Cert:<br>
                <input type="checkbox" name="newCert" value="checked"><br><br>
                 Password:<br>
                <input type="password" name="password" value="" required><br><br>
                <input type="submit" value="Create">
            </fieldset>
        </form>
    </body>
</html>